<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="row bottom-margin">
        <div class="col-md-8 col-md-offset-2 col-xs-12" *ngIf="!isThinking" id="ismo-face"></div>
        <div class="col-md-8 col-md-offset-2 col-xs-12" *ngIf="isThinking" id="ismo-face-squinting"></div>
      </div>
      <div class="row bottom-margin">
        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center" style="min-height: 75px;">
          <button class="btn btn-danger btn-lg huge-font" *ngIf="!isRecording" (click)="startRecognition()">Aloita tilaus</button>
        </div>
      </div>
      <div class="row bottom-margin" style="min-height: 75px;">
        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center huge-font" id="ismo-mouth">
          <p class="break-words">{{orderStatusMessage}}</p>
        </div>
      </div>
      <div class="row bottom-margin" style="min-height: 75px;">
        <div class="col-md-8 col-md-offset-2 col-xs-12 text-center huge-font">
          <p class="break-words">{{getStatusText(latestOrder.state)}}</p>
        </div>
      </div>
    </div>
  </div>
</div>